        body {
            margin: 0;
            padding: 0;
        }
        .info-container {
            background-color: #085379;
            display: flex;
        }
        #white {
            background-color: white;
        }
        p {
            color: white;
            align-self: center;
            font-size: 24px;
            text-align: center;
        }
        #blue-text {
            color: #0D0E23
        }
        img {
            height: 80%;
            padding: 30px;
        }